<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="762749cd-f163-4566-9ba6-a0b31c36cde0" value="https://www.myget.org/F/landis-ii-foundation/api/v3/index.json" />
  </packageSources>
</configuration>